body {
  padding: 10px;
  font-family: sans-serif;
}

.react-target, .ant-layout {
  height: 100%;
}

.logo {
  color: #fff;
}

.content {
  padding: 24px;
  margin: 0;
  min-height: 280px;
}

.layout-wrapper {
  background: #fff;
  padding: 20px;
  box-sizing: border-box;
}

.auth__title {
  text-align: center;
}

.github-login.ant-btn {
  display: flex;
  justify-content: space-between;
  width: 165px;
  color: #fff;
  background: #000;
}

.todo-input {
  margin-bottom: 20px;
}

.todos-list {
  background: #fff;
}

.todos-list .ant-list-items .ant-list-item {
  padding-right: 12px;
}

.logout {
  color: #fff;
}
